einops>=0.8,<1
lmdb>=1.7,<2
numpy>=1.26,<3
opencv-python>=4.10,<5
PyYAML>=6,<7
requests>=2.32,<3
scikit-image>=0.24,<1
scipy>=1.13,<2
tensorboard>=2.18,<3
torch>=2.5,<3
torchvision>=0.20,<1
tqdm>=4.66,<5
